*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Verdana";
    -webkit-font-smoothing: antialiased;
}



body:after {
  content: '';
  display: flex;
  clear: both;
}




a, a > span {
  position: relative !important;
  text-decoration: none  !important;
  line-height: 24px  !important;
}
a:before, a:after, a > span:before, a > span:after {
  content: '' !important;
  position: absolute !important;
  transition: transform .5s ease  !important;
}

.nav-item{
    background-color: black !important;;
}
.hover-3 {

  display: inline-flex;

  overflow: hidden;
}
.hover-3:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: orange;
  transform: translateX(-100%);
}
.hover-3:hover:before {
  transform: translateX(0);
}

























/*Info seccion 1*/
.info{
    position: relative; 
    padding-top: 3px;
    color: #ffff;
    background-color: #2e2e2e;    
}

.info-izquierdo {
    position: absolute;
    left: 18px;
    top: 0px;
    bottom: 0px;
}

.info-derecho{
    position: absolute;
    right: 18px;
    top: 3px;
    
}

/*Logo seccion 2*/
.logobig img{
    top: 0px;
    width: 30%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.menu{
    background-color: black!important;
}

 .contenido-menu{
    margin-right: auto !important;
    margin-left: auto !important;
    font-size: 18px !important;
 }

 .contenido-menu li{
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 6px;
    margin-right: 20px !important;
 }

 .contenido-menu li:hover{
    background-color:  #2e2e2e;

 }

.separador-menu:hover{
    background-color: black !important;

}

 .contenido-menu span{
    font-size: 24px;
 }


/*---------------------
---Estilos antiguos
----------------------*/
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;

 }

 /*header*/
 .titulo{
     font-size: 30px;
     color:coral;
     text-align: center;
 }



.lado-izquierdo > a{
    color: rgb(255, 125, 19);
    font-weight: 300;
    font-family: 'Lucida Sans Unicode';
    text-decoration: none;
    margin-left: 10px;
    padding-right: 13px;   
}

.lado-izquierdo > a:hover{
    text-decoration: underline;
}

.lado-derecho > a{
    text-align: right;
    color: rgb(255, 125, 19);
    font-weight: 300;
    font-family: 'Lucida Sans Unicode';
    text-decoration: none;
    margin-right: 10px;
    padding-right: 13px;
}

.segundo-header{
    width: 100%;
    height: 300px;
    background: #093147e7 url(../resources/img/picante.jpg);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f56117be, #0b486bdc) url(../resources/img/picante.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f56117be, #0b486bdc) url(../resources/img/picante.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.menu-principal{
    text-align: right;
    padding: 30px 50px 0 0;
}

.menu-principal > a{
    color: orangered;
    font-weight: 300;
    font-family: 'Lucida Sans Unicode';
    text-decoration: none;
    margin-right: 10px;
}

.menu-principal > a:hover{
    text-decoration: underline;
}

.wave{
    padding-top: 70px;
    margin-bottom: 50px;
    height: 290px;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: auto;
}

.primer-header{
    color: orange;
    background-color: rgb(53, 52, 52);
    font-weight: bold;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

.texto-segundo-header{
    font-family: "Great Vibes";
    margin-left: 50px;
    position: relative; 
    color: black;
}

.texto-segundo-header h1{
    padding-top: 20px;
    font-size: 70px;
}


/*Main*/

.contenedor-algunos-platos{
    background-color: black;   
}

.titulo-algunos-platos{
    font-family: 'Lucida Sans Unicode';
    font-size: 35px;
    color: orange;
    margin-left: 5%;
    padding-top: 30px; 
}

.imagenes-algunos-platos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagenes-platos{
    width: 80%;
    margin-left: 15%;
    margin-right: 0px !important;
    margin-bottom: 50px;
    margin-top: 50px;
}


.texto-imagenes-algunos-platos > h3{
    color: rgb(255, 225, 168);
    font-family: 'Lucida Sans Unicode';
    font-size: 15px;
}

.texto-imagenes-algunos-platos > p{
    color:aliceblue;
    font-size: 10px;
    font-family: 'Lucida Sans';
}

/*reservas*/

.contenedor-reservas{
    background-color: rgb(12, 12, 12); 

}
.texto-reserva{
    margin-top: 70px;
    padding-top: 10%;
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 28px;
    text-shadow: 3px 2px 5px black;
}
.reserva{
    opacity: 0.9;
}

.reservas > img{
    width: 100%;
    height: 100%;

    

}

.contenido-textos-reservas{
    background-color: rgb(0, 0, 0, );
    margin-top: 200px;
    text-align: center;
}

.textoh3-reserva{
    color: orangered;
    font-weight: 500;
    font-family: 'Caveat';
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    
}

.textoa-reserva{
    color: aliceblue;
    font-weight: 300;
    font-family: 'Lucida Sans Unicode';
    text-decoration: none;
    margin-right: 10px;
    font: lighter;
}

.textoa-reserva:hover{
    text-decoration: salmon;
    text-decoration: underline;
}

.reservas > a:hover{
    text-decoration: underline;
}

/*resenas*/

.titulo-resena-clientes{
    background-color: black;
    padding-top: 80px;
}

.titulo-resena-clientes > h2{
    font-family: 'Lucida Sans Unicode';
    margin-left: 5%;
    font-size: 40px;
    color: orange;
    background-color: black;
    padding-bottom: 30px;
}

.bloques-de-clientes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bloque-por-cliente{
    width: 20%;
    margin-right: 10px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.bloque-por-cliente > img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 200px;
    box-shadow: 0 0 6px 0 rgba(46, 46, 46, 0.89);
    position: relative;
    
}

.contenido-texto-bloque > h4{
    color:rgb(255, 225, 168);
    font-weight: 500;
    text-align: center;
    font-family: 'Lucia Sans Unicode';
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.contenido-texto-bloque > p{
    color:white;
    text-align: justify;
    text-align: center;
    font-family: 'verdana';
    font-size: 10px;
    text-decoration: none;
    margin-right: 10px; 
}

/*footer*/

.informacion{
    background-color:  #2e2e2e;
    margin-top: 0px;
    padding-bottom: 20px;

}
.wave-final{
    padding-bottom: 100px;
    margin-top: 0px;
    height: 250px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: auto;
}

.contenido-footer{
    margin-left: 30px !important;
    padding-bottom: 30px;
}

.contenedor-footer{
    border-width: 0.5px;
    border-left-style: groove;
    border-color: white;
    color: white;
}


.contenedor-footer label{
    margin-top: 8px;
}

.footer-info{
    margin-left: 20px !important;
    margin-top: 10px;
    padding-left: 10px;
}

.footer-info p{
    margin: 0px !important;
    padding: 0px;

}
.footer-info span{
    font-weight: bold;
}

.bloques-informacion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-us > h2{
    padding-top: 50px;
    text-align: center;
    font-family: 'caveat';
    font-size: 40px;
}

.menu-contenido-about-us > a{
    margin-top: 5px;
    color:black;
    text-decoration: none ;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px; 
}

.menu-contenido-about-us > a:hover{
    text-decoration: underline;
}

.location > h2{
    padding-top: 50px;
    text-align: center;
    font-family: 'caveat';
    font-size: 40px;  
}

.contenido-location > p{
    margin-top: 7px;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.contenido-location > a{
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color:blanchedalmond;
    font-weight: bold;
}

.contenido-location > a:hover{
    text-decoration: underline;
}

.contacto > h2{
    padding-top: 50px;
    text-align: center;
    font-family: 'caveat';
    font-size: 40px;
}

.contenido-contacto{
    margin-top: 7px;
    text-align: left;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
}

.logo-company{
    align-content: center;
}

.logo-company > img{
    width: 50%;
    height: 53%;
    margin-left: 80px;
    padding-right: 0;
    align-self : center;
    margin-top: 0px;
}

.logo-company > h2{
    text-align: center;
    font-size: 45px;
    font-family: 'Great Vibes'; 
}




/*Pruebaa neumorphisim*/

.neo{
    border-style: none;
    border-radius: 29px;
    background: #2b2626;
    box-shadow: inset 8px 8px 13px #181515,
                inset -8px -8px 13px #3e3737;
}

